{{ if .Params.noindex }}
<meta name="robots" content="noindex, nofollow">
{{ end }}

<!--
If you want to include any custom html just before </head>, put it in this file.
Or you can delete these file if you don't need it.
-->
<!-- for example, you could insert this custom css, which makes the bigimg not stretch:
<style>
.intro-header.big-img, .intro-header.big-img  .big-img-transition {
  -webkit-background-size: contain !important;
  -moz-background-size: contain !important;
  background-size: contain !important;
  -o-background-size: contain !important;
  background-color: lightgrey;
}
</style>
-->
<!-- or you could include some additional css libraries:
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.css" integrity="sha256-I1UoFd33KHIydu88R9owFaQWzwkiZV4hXXug5aYaM28=" crossorigin="anonymous" />
-->

<style>

.katex { font-size: 1em !important; } 


.article-content blockquote {
    color: #3d4144;
/*    text-indent: initial;*/
    background-color: #d8ebf1;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(59,156,186,0.25);
    font-style: italic;
/*    border: 0;*/

/*  display: block;*/
/*  margin-left: 20px;*/
  margin-left: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
/*  margin-right: 80px;*/
  max-width: 95%;
/*  padding: 20px;*/
}



.custom-aside blockquote {
    background-color: inherit;
    border: none;
    margin-left: 20px;
    padding: 0px;
}



.article-tags a.tag-social-protocols, 
.tagCloud-tags a.tag-social-protocols {
  background-color: #5783db;
  color: #f4f4f4;
}

.article-tags .tag-argumentation-theory,
.tagCloud-tags a.tag-argumentation-theory {
  background-color: #a881af;
  color: #f4f4f4;
}

.article-tags .tag-distributed-bayesian-reasoning,
.tagCloud-tags a.tag-distributed-bayesian-reasoning {
  background-color: #5dbea3;
  color: #f4f4f4;
}


.article-tags .tag-game-theory,
.tagCloud-tags a.tag-game-theory {
  background-color: rgb(52,73,94);
  color: #f4f4f4;
}


.centered-image {
  display: block; margin-left: auto; margin-right: auto; width: 700px
}
</style>