{{/* Compact top nav: Home / About / Writing from menu.main. */}}
<header class="compact-nav">
    <div class="compact-nav__inner">
        <a class="compact-nav__brand" href="{{ .Site.Home.RelPermalink }}">{{ .Site.Title }}</a>
        <nav class="compact-nav__menu" aria-label="Main">
            <ol>
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                    {{ $active := or (eq $currentPage.Title .Name) (or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .)) }}
                    <li{{ if $active }} class="current"{{ end }}>
                        <a href="{{ .URL }}"{{ if eq .Params.newTab true }} target="_blank"{{ end }}>
                            <span>{{- .Name -}}</span>
                        </a>
                    </li>
                {{ end }}
                {{ if (default false .Site.Params.colorScheme.toggle) }}
                    <li id="dark-mode-toggle" title="{{ T `darkMode` }}">
                        {{ partial "helper/icon" "toggle-left" }}
                        {{ partial "helper/icon" "toggle-right" }}
                    </li>
                {{ end }}
            </ol>
        </nav>
    </div>
</header>
